In [0]:
%sql
CREATE OR REPLACE TABLE datalakehouse.silver.tbl_ipca_serie_433 (
  DATA_REFERENCIA DATE,
  NUM_MES INT,
  VALOR DECIMAL(10,2)
);

In [0]:
df = spark.sql(
f'''
SELECT  
  to_date(data, 'dd/MM/yyyy') AS DATA_REFERENCIA,
  month(to_date(data, 'dd/MM/yyyy')) AS NUM_MES,
  CAST(valor AS DECIMAL(10,2)) AS VALOR
FROM datalakehouse.bronze.bcb_ipca_serie_433'''
)

df.createOrReplaceTempView("tbl_ipca_serie_433")

In [0]:
%sql
TRUNCATE TABLE datalakehouse.silver.tbl_ipca_serie_433;

INSERT INTO datalakehouse.silver.tbl_ipca_serie_433
SELECT  
  to_date(data, 'dd/MM/yyyy') AS DATA_REFERENCIA,
  month(to_date(data, 'dd/MM/yyyy')) AS NUM_MES,
  CAST(valor AS DECIMAL(10,2)) AS VALOR
FROM datalakehouse.bronze.bcb_ipca_serie_433;