In [0]:
%sql
CREATE OR REPLACE TABLE datalakehouse.silver.tbl_calendario (
  ID INT,
  DATA DATE,
  ANO INT,
  NUM_MES INT,
  DIA_MES INT,
  SEMESTRE INT,
  NUM_DIA_SEMANA INT,
  NOME_DIA_SEMANA VARCHAR(25),
  SEMANA_ANO INT
);

In [0]:
df = spark.sql(f'''
SELECT
row_number() over (ORDER BY date) AS ID,
date AS DATA,
ano,
mes AS NUM_MES,
dia AS DIA_MES,
semestre,
num_dia_semana,
CASE 
    WHEN nome_dia_semana = 'Mon' THEN 'Segunda-Feira'
    WHEN nome_dia_semana = 'Tue' THEN 'Terça-Feira'
    WHEN nome_dia_semana = 'Wed' THEN 'Quarta-Feira'
    WHEN nome_dia_semana = 'Thu' THEN 'Quinta-Feira'
    WHEN nome_dia_semana = 'Fri' THEN 'Sexta-Feira'
    WHEN nome_dia_semana = 'Sat' THEN 'Sábado'
    WHEN nome_dia_semana = 'Sun' THEN 'Domingo'
END AS nome_dia_semana,
semana_ano 
FROM datalakehouse.bronze.calendario
'''
)

df.createOrReplaceTempView("tbl_calendario")

In [0]:
%sql
TRUNCATE TABLE datalakehouse.silver.tbl_calendario;

INSERT INTO datalakehouse.silver.tbl_calendario
SELECT  
  ID,
  DATA ,
  ANO ,
  NUM_MES ,
  DIA_MES ,
  SEMESTRE,
  NUM_DIA_SEMANA,
  NOME_DIA_SEMANA,
  SEMANA_ANO
FROM tbl_calendario