In [0]:
%sql
CREATE OR REPLACE TABLE datalakehouse.silver.tbl_calendario (
  DATA_REFERENCIA DATE,
  NUM_MES INT,
  VALOR DECIMAL(10,2)
);

In [0]:
df = spark.sql(f'''
SELECT
date AS DATA,
ano,
mes AS NUM_MES,
dia AS DIA_MES,
semestre,
num_dia_semana,
CASE 
    WHEN nome_dia_semana = 'Mon' THEN 'Segunda-Feira'
    WHEN nome_dia_semana = 'Tue' THEN 'Terça-Feira'
    WHEN nome_dia_semana = 'Wed' THEN 'Quarta-Feira'
    WHEN nome_dia_semana = 'Thu' THEN 'Quinta-Feira'
    WHEN nome_dia_semana = 'Fri' THEN 'Sexta-Feira'
    WHEN nome_dia_semana = 'Sat' THEN 'Sábado'
    WHEN nome_dia_semana = 'Sun' THEN 'Domingo'
END AS nome_dia_semana,
semana_ano 
FROM datalakehouse.bronze.calendario
'''
)

df.createOrReplaceTempView("tbl_calendario")

In [0]:
%sql
TRUNCATE TABLE datalakehouse.silver.tbl_calendario;

INSERT INTO datalakehouse.silver.tbl_calendario
SELECT  
  to_date(data, 'dd/MM/yyyy') AS DATA_REFERENCIA,
  month(to_date(data, 'dd/MM/yyyy')) AS NUM_MES,
  CAST(valor AS DECIMAL(10,2)) AS VALOR
FROM datalakehouse.bronze.bcb_salario_serie_1619;